<div class="container">
	<div class="row">
		<div class="col-md-5 center-block no-float">

			<h2><span class='glyphicon glyphicon-user '></span> Registrarse</h2>

			<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html:{ role: "form" }) do |f| %>
			  <%= devise_error_messages! %>
			  <% if session[:omniauth_errors]  %>
			   <div class="flash "><%= session[:omniauth_errors]  %></div>
			  <% end %>
			  <div class=".form-group"><%= f.label :email %><br />
			  <%= f.email_field :email, :autofocus => true, class: "form-control" %></div>

			  <div class=".form-group"><%= f.label :password %><br />
			  <%= f.password_field :password, class: "form-control" %></div>

			  <div class=".form-group"><%= f.label :password_confirmation %><br />
			  <%= f.password_field :password_confirmation, class: "form-control" %></div>

			  <div class="form-group">
			  	<%= f.label :username %>
			  	<%= f.text_field :username, pattern:"([A-Za-z0-9\-\_]+)", required: "required", class: "form-control", value: get_oauth_username %>
			  </div>

			  <div class=".form-group text-center get-me-space"><%= f.submit "Regístrame", class: "btn btn-info" %></div>
			<% end %>
			<div class="text-center">
				<%= render "devise/shared/links" %>	
			</div>
					
		</div>
	</div>
	
</div>

