<%= form_for(payment) do |f| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this attachment from being saved:</h2>

      <ul>
      <% payment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :post_id, value: post.id %>
  </div>
  <div class="actions">
    <%= content_tag :button, type: :submit, class: "btn btn-success" do %>
      <i class="fa fa-shopping-cart"></i> Comprar
    <%end%>
  </div>
<% end %>
